<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="css/1.css">
        <title>Резюме</title>

    </head>
    <body>
        <div class = "navbar">
            <a href = "1.html">Главная</a>
            <a href = "flask.html">Мое веб-приложение на flask: сортировка</a>
            <a href = "https://skillfactory.ru/">Контакты </a>
        </div>

        <section>
            <form action="/answer3" autocomplete =off method="POST">
                <p><label for="name1">Введите имя <em> </em></label><input type="text" id="name1" name="name1"></p>
                <p><input type="submit" value="Поиск"></p>
            </form>
        </section>


        <h2>Добрый день! Я начинающий веб-разработчик!</h2>
        <p> В этом абзаце будет пара слов обо мне</p>
        <img src ="https://cdn.pixabay.com/photo/2017/11/28/08/12/dog-2983021_960_720.jpg" alt="Собака-разработчик" width="500" height="430">
        <hr>

        <div>
            <p> Здесь вы можете задать мне вопрос! Обязательно укажите имя и адрес почты, чтобы я смог дать ответ!</p>
        </div>
        <section class ="f1">
        <form action="/answer" autocomplete = off method="POST">
            <fieldset class = 'text'>
                <legend>Задайте ваш вопрос</legend>
                <p><label for="name">Имя </label><input type="text" id="name" name ="name"></p>
                <p><label for="email">E-mail </label><input type="email" id="email" name ="email"></p>
                <textarea name="message" cols="40" rows="5" > Место для вашего сообщения </textarea>
            </fieldset>
            <p><input type="submit" value="Отправить"></p>
        </form>
        </section>

        <section>
            <footer>
            <p>Aleksei Derevyannykh, 2020</p>
            <p>My contacts: Russia</p>
            </footer>
        </section>

    </body>

</html>