<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="css/1.css">
        <title>Result</title>

    </head>
    <body>

        <div class = "navbar">
            <a href= "1.html">Главная</a>
            <a href= "flask.html">Мое веб-приложение на flask </a>
            <a href= "https://skillfactory.ru/">Контакты </a>
        </div>

        <section class="f1">
            <form action="/answer3" autocomplete =off method="POST">
                <p class ="text"><label>Результат поиска:  </label> {{ans2}}</p>
            </form>
        </section>


    </body>
</html>